.no-wrapper.header {
  background-color: #0375b4;
}

.header-content {
  padding: 3rem 0;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1.5rem;
}

.quote-icon {
  position: absolute;
  top: -10px;
  left: -20px;
  color: #ffce00;
  transform: rotate(4deg);
}

.header-title {
  position: relative;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
}

.card {
  max-width: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2rem;
  border-radius: 2%;
  background-color: #fff;
}

.card-title {
  font-size: clamp(1rem, 8vw - 1rem, 1.2rem);
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  height: 48px;
  max-width: 100%;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-flex {
  display: flex;
  gap: 0.5rem;
}

.promo.form-flex {
  gap: 0;
}

.promo-apply {
  margin-left: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-form p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .header-content {
    grid-template-columns: 1.5fr 1fr;
  }
}
