.no-wrapper.nav {
  background-color: #0375b4;
}
.main-nav {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row: 1;
}

.links-list {
  display: none;
}

.nav-links a {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.nav-links a,
.nav-links a::after,
.nav-links a::before {
  transition: all 0.5s;
}

.nav-links a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fff;
  height: 1px;
}

.nav-links a:hover:after {
  width: 100%;
}

.nav-links a:hover {
  color: #000;
}

#root > div.no-wrapper.nav > div > nav > ul > li:nth-child(1) > a {
  color: #ffce00;
}

.menu-icon:hover {
  cursor: pointer;
}

.mobile-links {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-direction: none;
}

.mobile-links li a {
  font-size: 3vmin;
}

@media screen and (min-width: 800px) {
  .menu-icon {
    display: none;
  }

  .links-list {
    display: flex;
    grid-row: 1;
    gap: 1rem;
  }
}
