.no-wrapper.nav {
  background-color: #0375b4;
}
.main-nav {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row: 1;
}

.links-list {
  display: none;
}

.nav-links a {
  color: #fff;
}

#root > div.no-wrapper.nav > div > nav > ul > li:nth-child(1) > a {
  color: #ffce00;
}

.menu-icon:hover {
  cursor: pointer;
}

.mobile-links {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-direction: none;
}

@media screen and (min-width: 800px) {
  .menu-icon {
    display: none;
  }

  .links-list {
    display: flex;
    grid-row: 1;
    gap: 1rem;
  }
}
