*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.icons {
  font-size: clamp(1.5rem, -0.875rem + 8vw, 1.8rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
  color: #98a6ad;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: clamp(1.2rem, calc(1rem -10px), 1.8rem);
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
}
